body {
  font-family: "Roboto", sans-serif;
}
.inline{
  background: yellow;
  display: inline-block;
}
.block{
  background: red;
  display: block;
}

.img{
  weight: 100px;
  height: 100px;
  vertical-align: middle;
}
.vertical-align{
  display: inline-block;
  max-weight: 200px;
  max-height: 250px;
  background: gray;
  overflow: auto;
}
.box{
  display: inline-block;
  width: 250px;
  weight: 100px;
  background: red;
  overflow: auto;
}
