body {
	width: 100%;
	background-color: black;
}
#container{
	background-color: rgba(106, 11, 195, 0.503);
	width: 100%;
	
}
#blog-post-container{
	width: 75%;
	background-color: aquamarine;
	display: inline-block;
	box-sizing: border-box;
	padding: 2px 5px;
	text-align: left;
	margin: 0px 0px ;
	margin-inline: 0px;
	border-right: 0px;
	margin-right: 0px;
}

#other-posts{
	float: right;
	margin-left: 8px;
	width: 20%;
	background-color: bisque;
	display: inline-block;
	box-sizing: border-box;
	padding: 5px 5px;
	text-align: left;
}

#author-box
{
	border: 1px solid red;
	display: inline-block;
	background-color: azure;
	
} 
.author-text {
	text-align: center;
	font-size: 22px;
	box-sizing: border-box;

}